<div class="position">
    <mat-card class="home mat-elevation-z3">
        <mat-card-title class="title">Welcome!</mat-card-title>
        <mat-card-subtitle class="subtitle">Challenge Altar.io</mat-card-subtitle>
        <p>Hi, I'm Roberta, a Software Engineering and a Full Stack student. Brazilian citizen living in Lisbon,
            Portugal, bearer of a work visa. Seeking for job opportunities as Web Developer. I am
            always willing to learn and improve my skills. I want to do my best to contribute to the
            team in the development of projects.
        </p>
    </mat-card>
</div>
    