<div class="position">
    <mat-card class="home mat-elevation-z3">
        <div class="code">
            <mat-form-field>
                <input matInput placeholder="Your Code" name="code">
            </mat-form-field>
        </div>
        <div class="info"> 
            <mat-form-field>
                <input matInput placeholder="Payment" name="code">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Ammount" name="code">
            </mat-form-field>
            <button mat-raised-button color="primary">+ ADD</button>
        </div>

        <p>Payment List</p>
        <table>
            <tr>
              <th>NAME</th>
              <th>AMMOUNT</th>
              <th>CODE</th>
              <th>GRID</th>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </table>
    </mat-card>
</div>